@font-face {
  font-family: "Pixeloid";
  src: url("Pixeloid.ttf");
}
* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair;
}

#pen {
  position: absolute;
  pointer-events: none;
}
#toolbar {
  left: 8px;
  bottom: 8px;
}

#sizes {
  right: 8px;
  bottom: 8px;
}

.bar {
  position: absolute;
}
.bar img,
.bar canvas {
  display: block;
  background-color: #beb5b5;
  border: 3px double #868686;
  width: 58px;
  height: 58px;
  padding: 2px;
  -webkit-user-drag: none;
  margin-bottom: 4px;
  cursor: pointer;
}
.bar img:hover,
.bar canvas:hover {
  background-color: #ada2a2;
  border-color: #747474;
}
.bar img:active,
.bar canvas:active {
  background-color: #a69a9a;
  border-color: #6d6d6d;
}
.bar img.selected,
.bar canvas.selected {
  background-color: #e2dede;
  border-color: #acacac;
}
.bar img :last-child,
.bar canvas :last-child {
  margin-bottom: 0px;
}

