@use "sass:color";

$tool-color: #8d8d8d;
$tool-border: #cdcaca;
$tool-size: 58px;

#toolbar {
  left: 8px;
  bottom: 8px;
}
#sizes {
  right: 8px;
  bottom: 8px;
}

.bar {
  position: absolute;

  img,
  canvas {
    display: block;
    background-color: $tool-color;
    border: 3px double $tool-border;
    width: $tool-size;
    height: $tool-size;
    padding: 2px;
    -webkit-user-drag: none;
    margin-bottom: 4px;
    cursor: pointer;

    &:hover {
      background-color: color.adjust($tool-color, $lightness: -7%);
      border-color: color.adjust($tool-border, $lightness: -7%);
    }
    &:active {
      background-color: color.adjust($tool-color, $lightness: -10%);
      border-color: color.adjust($tool-border, $lightness: -10%);
    }
    &.selected {
      background-color: color.adjust($tool-color, $lightness: 20%);
      border-color: color.adjust($tool-border, $lightness: 20%);
    }

    :last-child {
      margin-bottom: 0px;
    }
  }
}
